@charset "UTF-8";
/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100%;
  /* sticky footer */ }

body {
  height: 100%;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #000000;
  background: #f8f9fb; }

.main {
  position: relative; }

body.noscroll {
  overflow: hidden; }

.menu-icon {
  width: 34px;
  height: 34px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: none; }

#overlay.active {
  display: block; }

body > * {
  flex-shrink: 0;
  /* sticky footer */ }

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
  outline: none;
  border: none; }

label {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }

/* Grid styles */
.container {
  max-width: 360px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

/* Utility */
.none {
  display: none !important; }

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0; }

.new-note::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url(.././img/svg/main/notification.svg);
  background-position: center;
  background-color: #fff;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0; }

.info .info__item {
  padding: 14px;
  display: block;
  color: #000;
  background-color: #fff;
  cursor: pointer; }

.info .info__item-wrapper > * + * {
  margin-top: 8px; }

.info__item-content > * + * {
  margin-top: 8px; }

.info .info__top .info__item:nth-child(1) {
  background: url(.././img/main/flag-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

.info .info__top .info__item:nth-child(2) {
  background-image: url(.././img/main/money-bg.png);
  background-image: url(.././img/main/money-bg.png), linear-gradient(-90deg, #023f8e -30%, #377ef6 64%);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff; }

.info__bottom > * + * {
  margin-top: 16px; }

.info .info__bottom .info__item {
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 10px;
  padding-bottom: 14px; }

.info__bottom .info__item-row {
  display: flex;
  justify-content: space-between; }

.info__item-row .info__item-icon {
  margin-top: -5px; }

.info__bottom .info-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.9); }

.info-item__counter {
  font-weight: 600;
  color: #377ef6; }

.info__item--extended {
  width: 100%; }

#menu {
  position: sticky;
  bottom: 0;
  background-color: #f8f9fb; }

.menu__wrapper {
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between; }

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  color: #aec3e9; }

.nav-link.active {
  color: #377ef6; }

.nav-link > * + * {
  margin-top: 4px; }

.tags__wrapper {
  display: flex;
  flex-wrap: wrap; }

.tags__wrapper > * + * {
  margin-left: 10px; }

.tag__filter-icon,
.tag__add-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9ecf3;
  border-radius: 14px;
  margin-bottom: 10px;
  cursor: pointer; }

.tag__filter-icon {
  padding: 8px; }

.tag__add-icon {
  padding: 12px; }

.tag__item {
  padding: 13px 14px;
  background: #e9ecf3;
  border-radius: 14px;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 10px; }

.tag__item--add {
  display: flex;
  align-items: center;
  cursor: pointer; }

.tag__item--add > * + * {
  margin-left: 10px; }

.location-tags .tag__item {
  margin-right: 10px; }

.location-tags .tags__wrapper > * + * {
  margin-left: 0; }

.upcoming-events {
  padding-top: 14px;
  padding-bottom: 24px; }

.upcoming-events .container > * + * {
  margin-top: 16px; }

.upcoming-events__wrapper {
  display: flex;
  flex-direction: column; }

.upcoming-events__wrapper > * + * {
  margin-top: 20px; }

.upcoming-event__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
  min-height: 118px;
  font-weight: 500;
  background: #fff;
  color: rgba(0, 0, 0, 0.9); }

.upcoming-event__item > * + * {
  margin-top: 16px; }

.upcoming-event__item-info > * + * {
  margin-top: 8px; }

.upcoming-event__item-category {
  font-size: 14px; }

.upcoming-event__item-name {
  display: block;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.9); }

.upcoming-event__item-row {
  display: flex;
  justify-content: space-between; }

.upcoming-event__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.upcoming-event__item-info {
  width: 55%; }

.upcoming-event__item.tennis .upcoming-event__item-icon {
  background-color: #f6f2ff; }

.upcoming-event__item.tennis .upcoming-event__item-category {
  color: #685cf4; }

.upcoming-event__item.checkmates .upcoming-event__item-icon {
  background-color: #dbf5e2; }

.upcoming-event__item.checkmates .upcoming-event__item-category {
  color: #34a853; }

.upcoming-event__item-date {
  font-weight: 400;
  font-size: 12px; }

.upcoming-event__item-date > * + * {
  margin-top: 2px; }

.upcoming-event__item-application-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #9ea4b9; }

#event .upcoming-event__item {
  padding: 16px 0;
  background: unset; }

#event .upcoming-event__item-category {
  font-size: 16px; }

#event .upcoming-event__item-name {
  font-size: 20px; }

#event .upcoming-event__item-date {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9); }

#event .upcoming-event__item-date::before {
  content: "";
  display: block;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background: url(.././img/svg/event/note.svg); }

.help__item {
  position: relative;
  padding: 14px;
  background: #fff; }

.help__item::after {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: url(.././img/svg/help/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: top; }

.help__item-wrapper {
  display: flex;
  flex-direction: column; }

.help__item-wrapper > * + * {
  margin-top: 16px; }

.help__item-text > * + * {
  margin-top: 6px; }

.help__item-info {
  font-size: 14px;
  line-height: 1.35;
  width: 90%;
  color: rgba(0, 0, 0, 0.6); }

.help__item-content {
  display: flex;
  align-items: flex-start; }
  .help__item-content a {
    color: #000; }

.help__item-content > * + * {
  margin-left: 12px; }

.help__item-icon {
  flex-shrink: 0; }

.question-item {
  position: relative;
  padding-top: 20px;
  padding-left: 14px;
  padding-right: 14px;
  background: #fff;
  cursor: pointer; }

.questions__wrapper > * + * {
  margin-top: 16px; }

.question-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  background: url(.././img/svg/questions/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out; }

.question-item.active::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out; }

.question__title {
  width: 85%; }
  .question__title .title-h2 {
    font-size: 14px; }

.question__content {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 12px;
  line-height: 1.35;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out; }

.question__content.active {
  max-height: 3000px;
  visibility: visible;
  transition: all 0.5s ease-in-out; }

.question__content > * + * {
  margin-top: 16px; }

.header__profile {
  padding-top: 12px;
  padding-bottom: 12px; }

.header__profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__person {
  display: flex;
  align-items: center;
  font-weight: 500; }

.header__person > * + * {
  margin-left: 15px; }

.header__notification {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.header__location {
  position: relative;
  cursor: pointer; }

.header__location::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 9px;
  width: 10px;
  height: 10px;
  background-image: url(.././img/svg/events/arrow-down.svg);
  background-repeat: no-repeat; }

.header__address {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6); }

.header__wrapper-secondary {
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__title-secondary {
  font-weight: 500;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.header__back-arrow {
  width: 30px; }

#support-chat .header__wrapper-secondary {
  justify-content: space-between; }

#support-chat .header__back-arrow {
  width: 22px; }

.header__support-content {
  display: flex;
  align-items: center; }

.header__support-title .title-h2 {
  font-size: 14px; }

.header__support-info {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6); }

.header__support-info > * + * {
  margin-top: 8px; }

.header__support-title {
  display: flex;
  align-items: center; }

.header__support-title > * + * {
  margin-left: 12px; }

.info {
  padding-top: 16px;
  padding-bottom: 24px; }

.info__wrapper {
  display: flex;
  flex-direction: column; }

.info__wrapper > * + * {
  margin-top: 24px; }

.info .info__top {
  display: flex;
  flex-direction: column; }

.info .info__top > * + * {
  margin-top: 24px; }

.info__bottom-row {
  display: flex;
  justify-content: space-between; }

.info__bottom-row > * {
  width: 47.5%; }

.news {
  padding-bottom: 40px; }

.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px; }

.news__content-wrapper > * + * {
  margin-top: 24px; }

.news__show a {
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #377ef6; }

.news__item > * + * {
  margin-top: 14px; }

.news__info > * + * {
  margin-top: 10px; }

.news__item .news__title {
  font-weight: 500;
  line-height: 1.3; }

.news__category {
  font-size: 12px;
  line-height: 1; }

.news__creds {
  display: flex;
  align-items: center; }

.news__creds > * + * {
  margin-left: 16px; }

.news__date {
  position: relative;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6); }

.news__date::after {
  position: absolute;
  top: 6px;
  left: -9px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c4c4c4; }

.search {
  padding-bottom: 16px; }

.search__input {
  position: relative; }

.search__input input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 53px;
  width: 100%;
  background: #f0f2f6;
  border-radius: 14px; }

.search__input::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 13px;
  width: 24px;
  height: 24px;
  background-image: url(.././img/svg/events/search.svg);
  background-repeat: no-repeat; }

.search__input input::placeholder {
  color: #9ea4b9;
  font-size: 14px;
  font-weight: 500;
  line-height: 1; }

.applications {
  padding-top: 12px; }

.applications__wrapper > * + * {
  margin-top: 16px; }

.applications__header > * + * {
  margin-top: 10px; }

.applications__title {
  display: flex;
  align-items: center; }

.applications__title > * + * {
  margin-left: 6px; }

.applications__title-counter {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #377ef6; }

.applications__info {
  font-size: 14px;
  line-height: 1.35; }

.category-pattern {
  padding-bottom: 24px; }

.category-pattern__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.category-pattern .container > * + * {
  margin-top: 16px; }

.category-pattern__item {
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 17px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 104px;
  max-width: 158px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: #fff; }

.category-pattern__item.winter {
  background: #377ef6; }

.category-pattern__item.summer {
  background: #f8a300; }

.category-pattern__item.registry {
  background: #34a853; }

.category-pattern__item.non-registry {
  background: #685cf4; }

.category-pattern__info {
  display: flex;
  justify-content: space-between; }

.map .container {
  padding-right: 0;
  padding-left: 0; }

.location-tags {
  margin-top: -250px; }

.location .container {
  background: #fafafc;
  box-shadow: 0 16px 28px #fafafc, 0 0 28px rgba(6, 10, 29, 0.05); }

.location-tags .container {
  position: relative;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px; }

.location-tags .container::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 160px;
  background: url(.././img/svg/location/swipe.svg);
  width: 44px;
  height: 4px; }

.location-tags .search__input {
  padding-top: 34px;
  padding-bottom: 16px; }

.location-tags .search__input::after {
  top: 43px; }

.location-tags .location__tags {
  padding-bottom: 6px;
  border-bottom: 4px solid #f0f2f6; }

.recent-places {
  padding-bottom: 24px; }

.recent-places .container {
  padding-top: 24px; }

.recent-places .container > * + * {
  margin-top: 16px; }

.recent-places__wrapper > * + * {
  margin-top: 20px; }

.recent-places__item-wrapper {
  display: flex; }

.recent-places__item-wrapper > * + * {
  margin-left: 15px; }

.recent-places__img {
  position: relative;
  flex-shrink: 0; }

.recent-places__img img {
  width: 120px;
  height: 120px;
  border-radius: 18px;
  background-color: grey; }

.recent-places__rating {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 7px;
  background: #ffffff;
  border-top-right-radius: 12px; }
  .recent-places__rating svg {
    flex-shrink: 0; }

.recent-places__rating > * + * {
  margin-left: 5px; }

.recent-places__info {
  padding-top: 10px;
  padding-bottom: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.recent-places__review {
  font-weight: 500;
  font-size: 12px; }

.recent-places__place > * + * {
  margin-top: 8px; }

.recent-places__location {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 1; }

.recent-places__distance {
  position: relative; }

.recent-places__distance::before {
  content: "";
  position: absolute;
  left: -18px;
  top: -1px;
  width: 12px;
  height: 14px;
  background: url(.././img/svg/location/pin.svg); }

.recent-places__working {
  display: flex;
  justify-content: space-between; }

.recent-places__time,
.recent-places__open {
  font-weight: 400;
  font-size: 12px;
  line-height: 1; }

.recent-places__open.open {
  color: #377ef6; }

.recent-places__open.close {
  color: rosybrown; }

.news__img {
  padding-bottom: 12px; }

.news__img-wrapper {
  margin-bottom: 12px; }

.news__img-wrapper > * + * {
  margin-top: 20px; }

.news__text-img {
  margin-top: 31px !important;
  margin-bottom: 24px; }

.news__text-img .news__img-wrapper > * + * {
  margin-top: 13px; }

.news__author,
.news__author::before {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.35;
  color: rgba(0, 0, 0, 0.6); }

.news__author::before {
  content: "Источник: "; }

.news__text-wrapper > * + * {
  margin-top: 14px; }

.news__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35; }

.news__text p.news__text-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3; }

.news__text a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-decoration-line: underline;
  color: #377ef6; }

.news__text .news__creds p {
  font-size: 12px; }

body#no-ap {
  position: relative; }

.no-application {
  padding-top: 56px;
  text-align: center; }

.no-application__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.no-application__title > * + * {
  margin-top: 8px; }

.no-application__info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.35;
  width: 60%; }

.no-application__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px; }

.no-application__wrapper > * + * {
  margin-top: 47px; }

.no-application__button {
  position: fixed;
  width: 21.5%;
  bottom: 24px; }

.help__item {
  display: flex;
  align-items: flex-start; }

.help__support {
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 14px;
  background-color: #fff; }

.help__messages {
  display: flex;
  align-items: center;
  color: #000; }

.help__messages > * + * {
  margin-left: 12px; }

.help__messages-title {
  display: flex; }

.help__messages-title > * + * {
  margin-left: 6px; }

.help__counter {
  font-weight: 500;
  color: #f85f3e; }

.help__categories-wrapper > * + * {
  margin-top: 24px; }

.help__support-chat {
  padding-top: 24px;
  color: #fff; }

.help__support-chat-wrapper {
  position: relative;
  padding: 14px;
  background: linear-gradient(-90deg, #023f8e -30%, #377ef6 64%); }

.help__support-chat-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 32px;
  height: 32px;
  background: url(.././img/svg/help/messages.svg); }

.help__support-chat-wrapper > * + * {
  margin-top: 16px; }

.help__support-button {
  display: block;
  background: #f8f9fb !important; }

.help__support-chat-text > * + * {
  margin-top: 8px; }

.help__support-chat-info {
  font-size: 12px;
  line-height: 1.35;
  width: 90%; }

.chat__panel {
  position: fixed;
  bottom: 0; }

.chat__top {
  padding-left: 16px;
  padding-right: 16px; }

.event-info {
  padding-bottom: 24px; }

.event-info__wrapper > * + * {
  margin-top: 24px; }

.event-info__desc {
  font-size: 14px; }

.event-info__place-coords > * + * {
  margin-top: 8px; }

.event-info__address {
  font-size: 14px; }

.event-info__city {
  font-size: 14px;
  color: #9ea4b9; }

.event-info__title {
  margin-bottom: 16px; }

.event-info__map-button {
  display: block; }

.event-info__organizators-wrapper > * + * {
  margin-top: 20px; }

.organizator-item {
  display: flex;
  align-items: center; }

.organizator-item > * + * {
  margin-left: 14px; }

.organizators-item__text {
  font-size: 14px;
  width: 82%; }

.event-photo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px; }

.event-photo__title {
  display: flex;
  align-items: center; }

.event-photo__more {
  font-size: 12px;
  line-height: 1;
  color: #377ef6; }

.event-photo__title > * + * {
  margin-left: 6px; }

#event .event-photo__counter {
  color: #9ea4b9; }

#event .swiper-slide img {
  border-radius: 17px; }

.event-photo__wrapper {
  margin-bottom: 16px; }

.event-photo__button {
  display: block; }

.title-h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9); }

.title-h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em; }

.title-h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em; }

.title-fade {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.35;
  opacity: 0.8;
  letter-spacing: -0.02em; }

.border-radius {
  box-shadow: 0px 0px 24px rgba(9, 27, 64, 0.05), 0px 0px 24px rgba(9, 20, 43, 0.02);
  border-radius: 18px; }

.align-center {
  align-items: center; }

.button {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1;
  border-radius: 14px; }

.button--thin {
  color: #9ea4b9;
  background: #e9ecf3; }
  .button--thin a {
    color: #9ea4b9; }

.button--bold {
  background: #377EF6;
  color: #fff; }
  .button--bold a {
    color: #fff; }

/*# sourceMappingURL=main.css.map */
