.question-item {
  position: relative;
  padding-top: 20px;

  padding-left: 14px;
  padding-right: 14px;

  background: #fff;

  cursor: pointer;
}

.questions__wrapper > * + * {
  margin-top: 16px;
}

.question-item::after {
  content: "";
  display: block;

  position: absolute;
  top: 14px;
  right: 14px;

  width: 24px;
  height: 24px;

  background: url(.././img/svg/questions/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;

  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}

.question-item.active::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.question__title {
  width: 85%;
  & .title-h2 {
    font-size: 14px;
  }
}

.question__content {
  padding-top: 10px;
  padding-bottom: 10px;

  max-height: 0;
  overflow: hidden;
  visibility: hidden;

  font-size: 12px;
  line-height: 1.35;

  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.question__content.active {
  max-height: 3000px;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.question__content > * + * {
  margin-top: 16px;
}
