.upcoming-events {
  padding-top: 14px;
  padding-bottom: 24px;
}

.upcoming-events .container > * + * {
  margin-top: 16px;
}

.upcoming-events__wrapper {
  display: flex;
  flex-direction: column;
}

.upcoming-events__wrapper > * + * {
  margin-top: 20px;
}

.upcoming-event__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 14px;
  min-height: 118px;

  font-weight: 500;

  background: #fff;
  color: rgba(0, 0, 0, 0.9);
}

.upcoming-event__item > * + * {
  margin-top: 16px;
}
.upcoming-event__item-info > * + * {
  margin-top: 8px;
}

.upcoming-event__item-category {
  font-size: 14px;
}

.upcoming-event__item-name {
  display: block;
  font-size: 16px;
  line-height: 1.3;

  color: rgba(0, 0, 0, 0.9);
}

.upcoming-event__item-row {
  display: flex;
  justify-content: space-between;
}

.upcoming-event__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.upcoming-event__item-info {
  width: 55%;
}

.upcoming-event__item.tennis .upcoming-event__item-icon {
  background-color: #f6f2ff;
}
.upcoming-event__item.tennis .upcoming-event__item-category {
  color: #685cf4;
}

.upcoming-event__item.checkmates .upcoming-event__item-icon {
  background-color: #dbf5e2;
}
.upcoming-event__item.checkmates .upcoming-event__item-category {
  color: #34a853;
}

.upcoming-event__item-date {
  font-weight: 400;
  font-size: 12px;
}

.upcoming-event__item-date > * + * {
  margin-top: 2px;
}

.upcoming-event__item-application-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;

  color: #9ea4b9;
}

#event .upcoming-event__item {
  padding: 16px 0;
  background: unset;
}

#event .upcoming-event__item-category {
  font-size: 16px;
}

#event .upcoming-event__item-name {
  font-size: 20px;
}

#event .upcoming-event__item-date {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
}

#event .upcoming-event__item-date::before {
  content: "";
  display: block;
  margin-right: 8px;

  width: 24px;
  height: 24px;

  background: url(.././img/svg/event/note.svg);
}
