#register main {
  position: static;
}

.register-inputs {
  padding-top: 35px;
}

.register-inputs .container > * + * {
  margin-top: 32px;
}

.register-inputs__wrapper > * + * {
  margin-top: 28px;
}

.register-inputs__avatar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 88px;
  height: 88px;

  background: url(.././img/svg/register/avatar-temp.svg);
}

.register-inputs__avatar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 29px;
  height: 29px;
  background-image: url(.././img/svg/register/upload.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;

  border-radius: 50px;
}

.register-inputs__next {
  padding-bottom: 24px;
  position: absolute;
  bottom: 0;
  width: 100%;

  & a {
    display: block;
  }
}

.register-phone {
  padding-top: 16px;
}
