.search{
    padding-bottom: 16px;
}

.search__input{
    position: relative;
}

.search__input input {
  
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 53px;

  width: 100%;
  background: #f0f2f6;
  border-radius: 14px;
}

.search__input::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 13px;

  width: 24px;
  height: 24px;

  background-image: url(.././img/svg/events/search.svg);
  background-repeat: no-repeat;
}

.search__input input::placeholder {
  color: #9ea4b9;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
